* {
    margin: 0%;
    padding: 0%;
    font-family: "Ubuntu", sans-serif;
}



/*Header*/
header {
    display: flex;
    background-color: #2E948A;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 117px;
    width: auto;
}

#img-banner {
    padding-top: 20px;
    padding-bottom: 26px;
    padding-left: 82px;
}


header ul li {
    display: inline-flex;
    justify-content: space-between;
    padding-inline-end: 42px;
    line-height: 23px;
}


#nav-header {
    margin-right: 103px;
}


nav ul li a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #FDFDFD;
    list-style: none;
    text-decoration: none;
}


/*Section Intro*/
h1 {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 63px;
    color: #FF4081;
    width: 460px;
    height: 126px;
    margin-left: 202px;
    margin-top: 93px;
}

.subtitulo-intro {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    width: 461px;
    height: 186px;
    margin-left: 202px;
    margin-top: 22px;
}

#img-intro {
    margin-left: 751px;
    margin-top: -350px;
    margin-bottom: 81px;
}



/*Section Aulas*/
.aulas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;

}

iframe {
    padding-top: 100px;
    margin-left: 213px;
    margin-bottom: 100px;
}

.textos {
    display: block;
    margin-top: -367px;
    margin-bottom: -75px;
}

.aulas hr {
    display: flex;
    justify-content: center;
    width: 1244px;
    height: 3px;
    margin-left: 98px;
    margin-right: 98px;
    background: #C4C4C4;
    margin-bottom: 75px;

}


.aulas h2 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
    margin-left: 751px;

}

.aulas p {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    width: 501px;
    height: 195px;
    margin-left: 751px;
    margin-top: 26px;

}

.texto3 {
    margin-bottom: 0px;
}




/*Footer*/
footer {
    display: flex;
    background-color: #2E948A;
    align-items: center;
    height: 150px;
    justify-content: space-around;
}

#rodape {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1500px;
}

.footer-logo {
    margin-left: 30px;

}


#img-banner-footer {
    width: 312px;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.nav-footer a {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    text-transform: lowercase;
    width: 71px;
    text-decoration: none;
}


#tags button {
    display: block;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    background-color: #2E948A;
    border-radius: 62px;
    width: 289px;
    height: 51px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: 14px 41px;
    margin-right: 137px;
}

.button1 a {
    text-decoration: none;
    color: #FFFFFF;
    gap: 13px;

}

.button2 a {
    text-decoration: none;
    color: #FFFFFF;
}